{% extends "base.html" %}
{% block title %}Change Password{% endblock title %}
{% block body %}
<div class="col-md-offset-3 img-rounded edit-background edit-background"></div>
<div class="col-md-6 col-md-offset-3 edit-box">
  <form class="form-edit-profile" method="post" action={% url 'change_password' %}>
  {% for error in form.non_field_errors %}
  <p class="error">
  {{ error }}
  </p>
  {% endfor %}
  {% for field in form.visible_fields %}
  {{field.label_tag}}{{field}}
  <div class="error">{{field.errors}}</div>
  {% endfor %}
  {% for field in form.hidden_fields %}
  {{field}}
  {% endfor %}
  <table class="table-condensed center-block">
    <tbody class="center-block">
    <tr class="center-block">
      <td class="col-md-2"><input type="submit" class="btn btn-primary btn-block" value="Save"/></td>
      <td class="col-md-2"><a href={% url 'user_profile' %}><input type="button" class="btn btn-default " value="Cancel"/></td>
    </tr>
  </tbody>
  </table>
  {% csrf_token %}
</form>
</div>
{% endblock body %}