{% extends "userauth/reset_password.html" %}

{% block body %}
<div class="col-md-offset-3 img-rounded edit-background edit-background"></div>
<div class="col-md-6 col-md-offset-3 edit-box">
<form class="form-reset-password" method="post" action=''>

  {% for field in form.visible_fields %}
  {{field.label_tag}}{{field}}
  <div class="error">{{field.errors}}</div>
  {% endfor %}
 
  {% for error in form.non_field_errors %}
  <p class="error">{{ error }}</p>
  {% endfor %}
	<button type="submit" class="btn btn-sg btn-primary btn-block">Save</button>
  {% for field in form.hidden_fields %}
  {{field}}
  {% endfor %}
  {% csrf_token %}
</form>
</div>
{% endblock body %}
  		
